/* Header */
header {
    color: #7818cd;
    text-align: center;
    border: #131799 2px solid;
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 99px;
}
#main-header{
    background-color: #131799 !important;
}

.More-header{
    font-size: 25px;
    min-width: 200px;
    padding-top: 2px;
}

.Reasons{
    padding-left: 15px;
    font-weight: normal;
    color: white;
    border: #131799 2px solid;
}
#Last-page2{
    color: #131799;
}
.too-small{
    scale: 250%;
}
#Song-list{
    font-size: xx-large;
    padding: 15px;
    margin: 5px;
    color: white;
}
img{
    max-width: 25%;
    min-height: 200px;
    min-width: 100px;
    max-height: 100px;
}
/* Flex */
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.Links-middle{
    color: #ffffff;
    padding-top: 5em;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#list-1{
    padding: 10px;
    margin: 5px;
}
#list-2{
    padding: 10px;
    margin: 5px;
}
#list-3{
    padding: 10px;
    margin: 5px;
}
h3 {
    scale: 2;
}
h4{
    scale: 2;
}
body{
    background-color: rgba(211, 147, 147, 0.78);
    color: white;
}

#Links-background{
    background-color: #131799;
}
/* Images */
#img-page3{
    margin: auto;
}

#background{
    background-image: url("/Image/download (7).jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 3000px;
}
#body-background{
    background-image: url("/Image/TenaciousDO2160623_(38_of_62)_Kyle_Gass.jpg");
    background-attachment: scroll;
}
footer{
    margin-top: 200px;
}
/* Floats */
.left{
    float: left;
    border: #399926 2px solid;
}
.right {
    float: right;
    border: #399926 2px solid;
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}
/* Grid */
.Image {
    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    padding: 10px;
    margin: auto;
    gap: 10px;
}

/*Media queries*/
@media (max-width: 600px){
    body{
        background-color: #6c1399;
        align-content: center;
        flex-direction: column;
        grid-template-columns: auto auto;
        font-size: small;
    }
    header{
        align-content: center;
    }
}
@media (min-width: 601px) and (max-width: 1024px){
    body{
        background-color: #13997a;
        align-content: center;
        flex-direction: column;
        font-size: medium;
        grid-template-columns: auto auto;
    }
}
@media (min-width: 1025px){
    body{
        background-color: rgba(211, 147, 147, 0.78);
        flex-direction: row;
    }
}
/* Gradients */
#body_page_1{
    background-image:
        linear-gradient(135deg, #6a5af9  0%, #b65ef1 45%, #ff7ac3 95%);
}
#body_page_4{
    background-image:
        radial-gradient(#6a5af9  0%, #b65ef1 45%, #ff7ac3 95%, transparent 70%);
}
/* Transitions and transforms */
.num1:hover{
    transform: translate(0, -200px);
    transition: 2s;
    transition-timing-function: ease;
}
.num2:hover{
    transform: scale(20);
    transition: 2s;
    transition-timing-function: ease;
}
.num3:hover{
    transform: rotate(35deg);
    transition: 1s, box-shadow 2s;
    transition-timing-function: ease;
}
.num4:hover{
    transform: skew(120deg);
    transition: 2s, color ease;
    transition-timing-function: ease;
}
/* Animations */

@keyframes myAnimation {
    0%   {background-color: #131799;}
    25%  {background-color: #d314e1;}
    50%  {background-color: #6015a6;}
    100% {background-color: #0a2565;}
}
.Links-middle{
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes HoverAnimation {
    0%   {background-color: #e31313;}
    25%  {background-color: #e707ef;}
    50%  {background-color: #2f5bcc;}
    100% {background-color: #1dedbd;}
}
.Reasons:hover{
    animation-name: HoverAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: translateY(-10px);
    transition: 2s;
    animation-delay: 1s;
}
